.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding: 5rem 0;
}

.portfolio-mobile {
    display: none;
}

.portfolio span:nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.portfolio span:nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.portfolio img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    cursor: pointer;
}

.portfolio video {
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
}

.portfolio-escuro img {
    filter: drop-shadow(-12px 15px 13px rgba(255, 255, 255, 0.25)) !important;

}

.portfolio-escuro video {
    filter: drop-shadow(-12px 15px 13px rgba(255, 255, 255, 0.25)) !important;
}

.portfolio img:hover {
    animation: portfolio .1s both linear;
}

.link {
    display: flex;
    justify-content: center;
    width: 19rem;
    gap: 10px;
}

.link div {
    padding: 5px;
    border-radius: 90px;
    border: 2px solid white;
    margin-top: 20px;
}

.link a {
    text-decoration: none;
    color: white;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
    gap: 2rem;
}

.video-btn {
    cursor: pointer;
}

.video img {
    width: 50px;
    cursor: pointer;
}

.carrossel {
    display: flex;
    width: 40rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 19px;
}

.carrossel-body {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@keyframes portfolio {
    to {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1000px) {


    @keyframes portfolio {
        to {
            transform: scale(1);
        }
    }

    .carrossel-body {
        display: none;
    }

    .portfolio-mobile {
        display: block;
        margin-bottom: -7rem;
    }

    .portfolio-mobile div {
        margin-bottom: 1.5rem;
    }

    .video-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-mobile video {
        width: 80%;
    }
}