.Home {
    overflow-x: hidden;
    color: var(--black);
    min-height: 100vh;
}

.menu {
    display: none;
}

.menu-sumindo {
    display: none;
}



@media screen and (max-width: 900px) {
    .menu-sumindo {
        animation: sumindo 0.2s both;
    }

    .div-footer {
        display: none;
    }

    @keyframes sumindo {
        to {
            opacity: 0;
        }
    }
}