.retrato {
    padding: 1rem 0.5rem 3rem 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.retrato img {
    width: 12.5rem;
    height: 12.5rem;
}


@media screen and (max-width: 900px) {
    .retrato {
        padding: 0.32rem 0.16rem 0.96rem 0.16rem;
    }

    .retrato img {
        width: 4rem;
        height: 4rem;
    }



}