.retrato {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.text {

    margin-top: 0.25rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    width: 6.5rem;
}

.retrato img {
    width: 5rem;
}

.retrato span {
    font-size: 0.7rem;
}

@media screen and (max-width: 480px) {
    .retrato {
        padding: 0.3rem;
        width: 5rem;
    }

    .text {

        margin-top: 0.25rem;
        font-size: 0.4rem;
        font-weight: normal;
        width: 2rem;
    }

    .retrato img {
        width: 3.5rem;
    }

}