.tecnologias {
    width: 100vw;
    display: flex;
    padding: 2rem 3.5rem;
    margin-top: 6rem;
}

.tecnologias .esquerda {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.tecnologias .direita {
    display: flex;
    flex: 7;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.tecnologias .esquerda span:nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.tecnologias .esquerda span:nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.tecnologias .esquerda span:nth-child(3) {
    color: var(--gray);
    font-size: 0.9rem;
    margin-top: 1rem;
}

.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}


@media screen and (max-width: 480px) {
    .tecnologias {
        flex-direction: column;
        padding: 2rem 3.5rem;
        margin-top: 6rem;
        padding: 0 1.5rem;
        margin-top: 3rem;
    }

    .tecnologias .direita {
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: -6rem;
    }

}