.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--orange);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
}

.toggle>* {
    width: 1rem;
    height: 1rem;
    color: var(--orange);
}

.t-button {
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
    cursor: pointer;
}

.sol {
    animation: sol 0.1s ease both;
}

.lua {
    animation: lua 0.1s ease both;
}

@keyframes lua {
    from {
        left: 0.1rem
    }

    to {
        left: 1.1rem;
    }
}

@keyframes sol {
    from {
        left: 1.1rem
    }

    to {
        left: 0.1rem;
    }
}